################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PlumGuide.PlutoRover/PlumGuide.PlutoRover.Tests/bin/Debug/netcoreapp3.1
/PlumGuide.PlutoRover/PlumGuide.PlutoRover.Tests/obj
/PlumGuide.PlutoRover/PlumGuide.PlutoRover/obj
