<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="16.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
	<Rule Id="SA0002" Action="Error" />
	<Rule Id="SA1000" Action="Error" />
	<Rule Id="SA1001" Action="Error" />
	<Rule Id="SA1002" Action="Error" />
	<Rule Id="SA1003" Action="Error" />
	<Rule Id="SA1004" Action="Error" />
	<Rule Id="SA1005" Action="Error" />
	<Rule Id="SA1006" Action="Error" />
	<Rule Id="SA1007" Action="Error" />
	<Rule Id="SA1008" Action="Error" />
	<Rule Id="SA1009" Action="Error" />
	<Rule Id="SA1010" Action="Error" />
	<Rule Id="SA1011" Action="Error" />
	<Rule Id="SA1012" Action="Error" />
	<Rule Id="SA1013" Action="Error" />
	<Rule Id="SA1014" Action="Error" />
	<Rule Id="SA1015" Action="Error" />
	<Rule Id="SA1016" Action="Error" />
	<Rule Id="SA1017" Action="Error" />
	<Rule Id="SA1018" Action="Error" />
	<Rule Id="SA1019" Action="Error" />
	<Rule Id="SA1020" Action="Error" />
	<Rule Id="SA1021" Action="Error" />
	<Rule Id="SA1022" Action="Error" />
	<Rule Id="SA1023" Action="Error" />
	<Rule Id="SA1024" Action="Error" />
	<Rule Id="SA1025" Action="Error" />
	<Rule Id="SA1026" Action="Error" />
	<Rule Id="SA1027" Action="Error" />
	<Rule Id="SA1028" Action="Error" />
	<Rule Id="SA1100" Action="Error" />
	<Rule Id="SA1101" Action="None" />
	<Rule Id="SA1102" Action="Error" />
	<Rule Id="SA1103" Action="Error" />
	<Rule Id="SA1104" Action="Error" />
	<Rule Id="SA1105" Action="Error" />
	<Rule Id="SA1106" Action="Error" />
	<Rule Id="SA1107" Action="Error" />
	<Rule Id="SA1108" Action="Error" />
	<Rule Id="SA1109" Action="Error" />
	<Rule Id="SA1110" Action="Error" />
	<Rule Id="SA1111" Action="Error" />
	<Rule Id="SA1112" Action="Error" />
	<Rule Id="SA1113" Action="Error" />
	<Rule Id="SA1114" Action="Error" />
	<Rule Id="SA1115" Action="Error" />
	<Rule Id="SA1116" Action="Error" />
	<Rule Id="SA1117" Action="Error" />
	<Rule Id="SA1118" Action="Error" />
	<Rule Id="SA1119" Action="Error" />
	<Rule Id="SA1121" Action="Error" />
	<Rule Id="SA1122" Action="Error" />
	<Rule Id="SA1123" Action="Error" />
	<Rule Id="SA1124" Action="Error" />
	<Rule Id="SA1125" Action="Error" />
	<Rule Id="SA1126" Action="Error" />
	<Rule Id="SA1127" Action="Error" />
	<Rule Id="SA1128" Action="Error" />
	<Rule Id="SA1129" Action="Error" />
	<Rule Id="SA1130" Action="Error" />
	<Rule Id="SA1131" Action="Error" />
	<Rule Id="SA1132" Action="Error" />
	<Rule Id="SA1133" Action="Error" />
	<Rule Id="SA1134" Action="Error" />
	<Rule Id="SA1135" Action="Error" />
	<Rule Id="SA1136" Action="Error" />
	<Rule Id="SA1137" Action="Error" />
	<Rule Id="SA1138" Action="Error" />
	<Rule Id="SA1139" Action="Error" />
	<Rule Id="SA1300" Action="None" />
	<Rule Id="SA1309" Action="None" />
	<Rule Id="SA1401" Action="None" />
	<Rule Id="SA1413" Action="None" />
	<Rule Id="SA1518" Action="None" />
	<Rule Id="SA1600" Action="None" />
	<Rule Id="SA1602" Action="None" />
	<Rule Id="SA1633" Action="None" />
   </Rules>
</RuleSet>